.toggle {
  --background: darkgoldenrod;

  display: flex;
  background: black;
  border: 2px solid white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &:has(input:checked) {
    background: var(--background);
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    cursor: pointer;

    input {
      display: none;
    }
  }
}
