<div class="item">
  <label>
    <input
      class="state"
      type="checkbox"
      [checked]="item()?.state ?? 0 > 0"
      (click)="click($event, 1)"
    />
    <div class="details">
      <div>{{ item()?.name }}</div>
      @if (item()?.price) {
        <div>🤍 {{ item()?.price }}</div>
      }
    </div>
    @if (item()?.size) {
    <div [class]="'size size-' + item()?.size"></div>
    }
  </label>
  @if(item()?.size && item()?.state ?? 0 > 1) {
  <div class="missions">
    <label class="mission">
      Mission 1
      <input
        class="complete"
        type="checkbox"
        [checked]="item()?.state === 3 || item()?.state === 7"
        (change)="click($event, 2)"
      />
    </label>
    <label class="mission">
      Mission 2
      <input
        class="complete"
        type="checkbox"
        [checked]="item()?.state === 5 || item()?.state === 7"
        (change)="click($event, 4)"
      />
    </label>
  </div>
  }
</div>
