<form class="main">
  <h1>KarmaZoo</h1>
  <div class="progress">
    <span>Spend 🤍 {{ karmaFormsDisplay() }} of 🤍 {{ neededKarmaForms }} karma on forms</span>
    <progress [value]="karmaForms()" max="370277"></progress>
    <span>Spend 🤍 {{ karmaItemsDisplay() }} of 🤍 {{ neededKarmaItems }} karma on upgrades</span>
    <progress [value]="karmaItems()" max="61358"></progress>
    <span>Spend 🤍 {{ karmaOtherDisplay() }} of 🤍 {{ neededKarmaOther }} karma on doors & books</span>
    <progress [value]="karmaOther()" max="145761"></progress>
    <span>Spend 🤍 {{ karmaDisplay() }} of 🤍 {{ neededKarmaTotal }} total karma</span>
    <progress [value]="karma()" max="577396"></progress>
    @if (spoilers) {
      <span>Unlocked {{ secrets() }} of 23 secrets</span>
      <progress [value]="secrets()" max="23"></progress>
    } @else {
      <button type="button" class="show" (click)="showSecrets()">Show secrets</button>
    }
  </div>
  <h1>Constellations</h1>
  <div class="section">
    @for (sherpa of sherpas; track $index) {
      <div [class]="['sherpa', sherpa.name]">
        <h2>{{ sherpa.name }}</h2>
        @if (spoilers) {
          <zoo-toggle title="Unlock all forms" (changed)="unlockSherpa($index, $event)" />
        }
        <div class="items">
          @for (form of sherpa.forms; track form.name) {
            @if (!form.secret || spoilers) {
              <zoo-item
                [item]="form"
                (changed)="unlock($event, form, forms)"
              />
            }
          }
        </div>
      </div>
    }
  </div>
  <h1>Upgrades</h1>
  @if (spoilers) {
    <zoo-toggle title="Unlock all upgrades" (changed)="unlockItems(items, $event)" />
  }
  <div class="section">
    <div class="items">
      @for (item of items(); track item.name) {
        @if (!item.secret || spoilers) {
          <zoo-item
            [item]="item"
            (changed)="unlock($event, item, items)"
          />
        }
      }
    </div>
  </div>
  <h1>Doors & Books</h1>
  @if (spoilers) {
    <zoo-toggle title="Unlock all doors & books" (changed)="unlockItems(other, $event)" />
  }
  <div class="section">
    <div class="items">
      @for (item of other(); track item.name) {
        @if (!item.secret || spoilers) {
          <zoo-item
            [item]="item"
            (changed)="unlock($event, item, other)"
          />
        }
      }
    </div>
  </div>
  <h1>Karma Tree</h1>
  @if (spoilers) {
    <zoo-toggle title="Unlock all tree secrets" (changed)="unlockItems(tree, $event)" />
  }
  <div class="section">
    <div class="items">
      @for (item of tree(); track item.name) {
        @if (!item.secret || spoilers) {
          <zoo-item
            [item]="item"
            (changed)="unlock($event, item, tree)"
          />
        }
      }
    </div>
  </div>
</form>

<router-outlet />
