/* You can add global styles to this file, and also import other style files */
body {
  background: #333;
  color: #eee;
  padding: 24px 0;
}

h1, h2, h3 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background: #eee;
    color: #333;
  }
}
